@import "tailwindcss";

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card {
  padding: 0.5em;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.board {
  background-color: #3d5336;
  background-image: repeating-linear-gradient(
          55deg,
          rgba(255, 255, 255, 0.015) 0px,
          rgba(255, 255, 255, 0.015) 1px,
          transparent 2px,
          transparent 6px
  );
  background-blend-mode: overlay;
  color: white;
}