@import "tailwindcss";
@import "./styles/card.css";
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#root svg+* {
    z-index: 1;
}


.logo {
  will-change: filter;
  transition: filter 300ms;
}
.board {
        background-color: #3d5336;
        background-image: repeating-linear-gradient(
                                        45deg,
                                        rgba(255, 255, 255, 0.045) 0px,
                                        rgba(255, 255, 255, 0.045) 1px,
                                        transparent 2px,
                                        transparent 6px
        );
        background-blend-mode: overlay;
        color: white;
        overflow: hidden;
}

.game {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}
@media (max-height: 740px) {
    .force-vertical-layout {
        flex-direction: column !important;
    }
    .left-bar {
        width: auto !important;
    }
}

@media (max-width: 1163px) {
    .left-bar {
        width: auto !important;
    }
}