.back-card-blue,
.back-card-red {
    border: #ede2e2 4px solid;
}

.back-card-blue,
.back-card-red {
    background-image:
                repeating-linear-gradient(
            45deg,
            var(--card-main, #1432b6) 0px,
            var(--card-accent, #2548e1) 1px,
            transparent 1px,
            transparent 2px
        ),
                repeating-linear-gradient(
            -45deg,
            #ffffff 0px,
            #ffffff 0px,
            transparent 1px,
            transparent 1px
        ),
                repeating-linear-gradient(
            -45deg,
            var(--card-shadow, #02135e) 0px,
            var(--card-shadow-accent, #1c84c6) 1px,
            transparent 1px,
            transparent 2px
        ),
                repeating-linear-gradient(
            45deg,
            var(--card-main, #1432b6) 0px,
            var(--card-main, #1432b6) 2px,
            transparent 2px,
            transparent 12px
        ),
        repeating-linear-gradient(
            -45deg,
            var(--card-main, #1432b6) 0px,
            var(--card-main, #1432b6) 2px,
            transparent 2px,
            transparent 12px
        );
}

.back-card-blue {
    --card-main: #1432b6;
    --card-accent: #2548e1;
    --card-shadow: #02135e;
    --card-shadow-accent: #1c84c6;
}

.back-card-red {
    --card-main: #A10404FF;
    --card-accent: #ca0909;
    --card-shadow: #500101;
    --card-shadow-accent: #aa2727;
}

.back-card-blue .card-sign-icon,
.back-card-red .card-sign-icon {
    display: none;
}

.card {
    padding: 0.5em;
}
