.flower-card-dark-back .flowers--card {
    position: absolute;
    left: 50%;
    top: 54%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%) scale(0.7);
    pointer-events: none;
}
.flower-card-dark-back .flowers--card .flower {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-origin: bottom center;
    z-index: 10;
}
.flower-card-dark-back .flowers--card .flower--1 {
    left: 20%;
    animation: moving-flower-1 4s linear infinite;
}
.flower-card-dark-back .flowers--card .flower--2 {
    left: 50%;
    transform: rotate(20deg) translateY(-70px);
    animation: moving-flower-2 4s linear infinite;
}
.flower-card-dark-back .flowers--card .flower--3 {
    left: 80%;
    transform: rotate(-15deg);
    animation: moving-flower-3 4s linear infinite;
}
.flower-card-dark-back .flowers--card .flower-leafs {
    position: relative;
    animation: blooming-flower 2s backwards;
}
.flower-card-dark-back .flowers--card .flower-leaf {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 18px;
    height: 28px;
    border-radius: 51% 49% 47% 53% / 44% 45% 55% 69%;
    background: linear-gradient(to top, #54b8aa, #a7ffee);
    transform-origin: bottom center;
    opacity: 0.9;
    box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
}
.flower-card-dark-back .flowers--card .flower-leaf--1 {
    transform: translate(-10%, 1%) rotateY(40deg) rotateX(-50deg);
}
.flower-card-dark-back .flowers--card .flower-leaf--2 {
    transform: translate(-50%, -4%) rotateX(40deg);
}
.flower-card-dark-back .flowers--card .flower-leaf--3 {
    transform: translate(-90%, 0%) rotateY(45deg) rotateX(50deg);
}
.flower-card-dark-back .flowers--card .flower-leaf--4 {
    width: 18px;
    height: 18px;
    transform-origin: bottom left;
    border-radius: 8px 18px 8px 8px;
    transform: translate(-0%, 18%) rotateX(70deg) rotate(-43deg);
    background: linear-gradient(to top, #50d1e0, #b4f6e9);
    z-index: 1;
    opacity: 0.8;
}
.flower-card-dark-back .flowers--card .flower-white-circle {
    position: absolute;
    left: -7px;
    top: -8px;
    width: 20px;
    height: 10px;
    border-radius: 50%;
    background: #f5d7ad;
    z-index: 2;
}
.flower-card-dark-back .flowers--card .flower-line {
    height: 48px;
    width: 3px;
    background: linear-gradient(to top, transparent 10%, #14757a, #175157);
    box-shadow: inset 0 0 2px rgba(79, 3, 3, 0.5);
    position: relative;
    margin: 0 auto;
    animation: grow-flower-tree 2s backwards;
}
.flower-card-dark-back .flowers--card .flower-line-leaf {
    position: absolute;
    width: 12px;
    height: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    background: linear-gradient(to top, rgba(20,117,122,0.4), #39c6d6);
    opacity: 0.7;
}
.flower-card-dark-back .flowers--card .flower-line-leaf--1 {
    top: 10px; left: 10px; transform: rotate(70deg) rotateY(30deg);
}
.flower-card-dark-back .flowers--card .flower-line-leaf--2 {
    top: 20px; left: 10px; transform: rotate(70deg) rotateY(30deg);
}
.flower-card-dark-back .flowers--card .flower-line-leaf--3 {
    top: 10px; left: -18px; border-top-right-radius: 0; border-bottom-left-radius: 0; border-top-left-radius: 18px; border-bottom-right-radius: 18px; transform: rotate(-70deg) rotateY(30deg);
}
.flower-card-dark-back .flowers--card .flower-line-leaf--4 {
    top: 20px; left: -18px; border-top-right-radius: 0; border-bottom-left-radius: 0; border-top-left-radius: 18px; border-bottom-right-radius: 18px; transform: rotate(-70deg) rotateY(30deg);
}
.flower-card-dark-back .flowers--card .flower-line-leaf--5 {
    top: 0; left: 0; transform-origin: left; transform: rotate(70deg) rotateY(30deg) scale(0.6);
}
.flower-card-dark-back .flowers--card .flower-line-leaf--6 {
    top: -2px; left: -16px; border-top-right-radius: 0; border-bottom-left-radius: 0; border-top-left-radius: 18px; border-bottom-right-radius: 18px; transform-origin: right; transform: rotate(-70deg) rotateY(30deg) scale(0.6);
}
.flower-card-dark-back .flowers--card .flower-light {
    position: absolute;
    bottom: 0;
    width: 4px;
    height: 4px;
    background: rgba(243, 57, 57, 0.8);
    border-radius: 50%;
    filter: blur(0.2vmin);
    opacity: 0.7;
    animation: light-ans 4s linear infinite backwards;
}
.flower-card-dark-back .flowers--card .flower-light--1 { left: -6px; animation-delay: 1s; }
.flower-card-dark-back .flowers--card .flower-light--2 { left: 8px; animation-delay: 0.5s; }
.flower-card-dark-back .flowers--card .flower-light--3 { left: -12px; animation-delay: 0.3s; }
.flower-card-dark-back .flowers--card .flower-light--4 { left: 16px; animation-delay: 0.9s; }
.flower-card-dark-back .flowers--card .flower-light--5 { left: -2px; animation-delay: 1.5s; }
.flower-card-dark-back .flowers--card .flower-light--6 { left: -8px; animation-delay: 3s; }
.flower-card-dark-back .flowers--card .flower-light--7 { left: 8px; animation-delay: 2s; }
.flower-card-dark-back .flowers--card .flower-light--8 { left: -12px; animation-delay: 3.5s; }
@keyframes moving-flower-1 {
    0%,100% { transform: rotate(2deg); }
    50% { transform: rotate(-2deg); }
}
@keyframes moving-flower-2 {
    0%,100% { transform: rotate(18deg); }
    50% { transform: rotate(14deg); }
}
@keyframes moving-flower-3 {
    0%,100% { transform: rotate(-18deg); }
    50% { transform: rotate(-20deg) rotateY(-10deg); }
}
@keyframes blooming-flower {
    0% { transform: scale(0); }
}
@keyframes grow-flower-tree {
    0% { height: 0; border-radius: 1vmin; }
}
@keyframes light-ans {
    0% { opacity: 0; transform: translateY(0); }
    25% { opacity: 1; transform: translateY(-8px) translateX(-2px); }
    50% { opacity: 1; transform: translateY(-18px) translateX(2px); filter: blur(0.2vmin); }
    75% { transform: translateY(-24px) translateX(-2px); filter: blur(0.2vmin); }
    100% { transform: translateY(-32px); opacity: 0; filter: blur(1vmin); }
}
.flower-card-dark-back {
    border-radius: 0.4em;
    overflow: hidden;
    border: 3px solid rgba(190, 119, 119, 0.3);
    box-shadow: 0 6px 18px rgba(120,180,120,0.25), 0 0 0 4px #f9fbe7cc inset;
    position: relative;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.flower-card-dark-back--red {
    background: radial-gradient(ellipse at 40% 80%, #3a0606 50%, #fc8c8c 100%);
    border-color: #280202;
}
.flower-card-dark-back--blue {
    background: radial-gradient(ellipse at 40% 80%, #021225 50%, #6082af 100%);
    border-color: #20406c;
}
.flower-card-dark-back:hover,
.flower-card-dark-back--red:hover,
.flower-card-dark-back--blue:hover {
    border-color: #1d3b62;
    box-shadow: 0 0 24px rgba(17, 14, 5, 0.8), 0 6px 18px rgba(120,180,120,0.25);
}

@media (max-width: 600px) {
    @media (max-width: 600px) {
        .flower-card-dark-back .flowers--card {
            width: 80%;
            height: 80%;
            top: 70%;
            transform: translate(-50%, -50%) scale(0.5);
        }
    }
}
